# Importing Libraries

In [1]:
import gspread
import pandas as pd
import json
import numpy

# Setting up file collected from cloud console

In [2]:
cred_file="healthy-seeker-350608-663a7534ff2d.json"
gc=gspread.service_account(cred_file)

In [3]:
gc

# Getting the required google sheet and its particular sheet to automate

In [4]:
database=gc.open("Internal QC")

In [5]:
database

In [6]:
wks=database.worksheet("Performance")

In [7]:
wks

In [8]:
list_wks=database.worksheets()
list_wks

# Getting all the data from google sheet and converting them into dataframe for further processing

In [9]:
data=pd.DataFrame(wks.get_all_records())
data

,Name,Qty assigned,Qty submitted,Qty passed,Communication1,Approved(R),On rework1,On rework2,Approved(SR),Acumen(1pt),Consistent(1pt),Communication(1pt),Accuracy(1pt)
0,Annu,100,98,2,0,95,3,1,2,98.000000,98.000000,100,96.938776
1,Ashish,90,80,10,5,75,5,4,1,88.888889,88.888889,95,93.750000
2,Abhishek,80,70,10,2,60,10,6,4,87.500000,87.500000,98,85.714286
3,Manish,110,90,20,6,80,10,5,5,81.818182,81.818182,94,88.888889
4,Ankit,112,90,22,4,71,19,9,10,80.357143,80.357143,96,78.888889
5,Muskan,60,56,4,1,50,6,4,2,93.333333,93.333333,99,89.285714
6,Ayushi,67,60,7,7,50,10,5,5,89.552239,89.552239,93,83.333333
7,Satwika,87,80,7,5,74,6,3,3,91.954023,91.954023,95,92.500000
8,Akash,98,90,8,4,82,8,4,4,91.836735,91.836735,96,91.111111
9,Chandan,78,70,8,3,63,7,4,3,89.743590,89.743590,97,90.000000
10,Sweta,98,90,8,2,83,7,3,4,91.836735,91.836735,98,92.222222
11,Prachi,60,50,10,1,45,5,3,2,83.333333,83.333333,99,90.000000

In [10]:
Name=data.loc[:,"Name"]
n=len(Name)
n

12

In [11]:
Qty_assigned=data.loc[:,"Qty assigned"]
Qty_submitted=data.loc[:,"Qty submitted"]
Qty_passed=[]
Communication_1=data.loc[:,"Communication1"]
Approved_r=data.loc[:,"Approved(R)"]
On_rework1=[]
On_rework2=[]
Approved_sr=data.loc[:,"Approved(SR)"]
Acumen=[]
Consistent=[]
Communication=[]
Accuracy=[]

In [12]:
for i in range(n):
    Qty_passed.append(Qty_assigned[i]-Qty_submitted[i])
    On_rework1.append(Qty_submitted[i]-Approved_r[i])
    On_rework2.append(On_rework1[i]-Approved_sr[i])
    Acumen.append((Qty_submitted[i]/Qty_assigned[i])*100)
    Consistent.append(Acumen[i])
    Communication.append(100-Communication_1[i])
    Accuracy.append((Approved_r[i]/Qty_submitted[i])*100)

# Automation of Quantity passed column

In [13]:
Qty_passed
cell_values=[]

In [14]:
cell_list=wks.range('D2:D114')
#cell_values=Qty_passed.copy()
cell_values=[2, 10, 10, 20, 22, 4, 7, 7, 8, 8, 8,10]
#n,val=enumerate(cell_values)
for i,val in enumerate(cell_values):
    cell_list[i].value=val
wks.update_cells(cell_list)

{'spreadsheetId': '1CeyrM9luCB4IWAFGDdmdCQpGRO6Tdcv-5RhR_-xD0cI',
 'updatedRange': 'Performance!D2:D114',
 'updatedRows': 113,
 'updatedColumns': 1,
 'updatedCells': 113}

# Automation of on rework 1 column

In [15]:
On_rework1

[3, 5, 10, 10, 19, 6, 10, 6, 8, 7, 7, 5]

In [16]:
cell_list=wks.range('G2:G114')
#cell_values=Qty_passed.copy()
cell_values=[3, 5, 10, 10, 19, 6, 10, 6, 8, 7, 7, 5]
#n,val=enumerate(cell_values)
for i,val in enumerate(cell_values):
    cell_list[i].value=val
#    cell_list[i].value=(val)
wks.update_cells(cell_list)

{'spreadsheetId': '1CeyrM9luCB4IWAFGDdmdCQpGRO6Tdcv-5RhR_-xD0cI',
 'updatedRange': 'Performance!G2:G114',
 'updatedRows': 113,
 'updatedColumns': 1,
 'updatedCells': 113}

# Automation of on rework 2 column

In [17]:
On_rework2

[1, 4, 6, 5, 9, 4, 5, 3, 4, 4, 3, 3]

In [18]:
cell_list=wks.range('H2:H114')
#cell_values=Qty_passed.copy()
cell_values=[1, 4, 6, 5, 9, 4, 5, 3, 4, 4, 3, 3]
#n,val=enumerate(cell_values)
for i,val in enumerate(cell_values):
    cell_list[i].value=val
#    cell_list[i].value=(val)
wks.update_cells(cell_list)

{'spreadsheetId': '1CeyrM9luCB4IWAFGDdmdCQpGRO6Tdcv-5RhR_-xD0cI',
 'updatedRange': 'Performance!H2:H114',
 'updatedRows': 113,
 'updatedColumns': 1,
 'updatedCells': 113}

# Automation of Acumen column

In [19]:
Acumen

[98.0,
 88.88888888888889,
 87.5,
 81.81818181818183,
 80.35714285714286,
 93.33333333333333,
 89.55223880597015,
 91.95402298850574,
 91.83673469387756,
 89.74358974358975,
 91.83673469387756,
 83.33333333333334]

In [20]:
cell_list=wks.range('J2:J114')
#cell_values=Qty_passed.copy()
cell_values=[98.0,88.88888888888889,87.5,81.81818181818183,80.35714285714286,93.33333333333333,89.55223880597015, 91.95402298850574,91.83673469387756,89.74358974358975,91.83673469387756, 83.33333333333334]
#n,val=enumerate(cell_values)
for i,val in enumerate(cell_values):
    cell_list[i].value=val
#    cell_list[i].value=(val)
wks.update_cells(cell_list)

{'spreadsheetId': '1CeyrM9luCB4IWAFGDdmdCQpGRO6Tdcv-5RhR_-xD0cI',
 'updatedRange': 'Performance!J2:J114',
 'updatedRows': 113,
 'updatedColumns': 1,
 'updatedCells': 113}

# Automation of consistent column

In [21]:
Consistent

[98.0,
 88.88888888888889,
 87.5,
 81.81818181818183,
 80.35714285714286,
 93.33333333333333,
 89.55223880597015,
 91.95402298850574,
 91.83673469387756,
 89.74358974358975,
 91.83673469387756,
 83.33333333333334]

In [22]:
cell_list=wks.range('K2:K14')
#cell_values=Qty_passed.copy()
cell_values=[98.0,88.88888888888889, 87.5,81.81818181818183,80.35714285714286,93.33333333333333,89.55223880597015,91.95402298850574,91.83673469387756,89.74358974358975, 91.83673469387756,83.33333333333334]
for i,val in enumerate(cell_values):
    cell_list[i].value=val
#    cell_list[i].value=(val)
wks.update_cells(cell_list)

{'spreadsheetId': '1CeyrM9luCB4IWAFGDdmdCQpGRO6Tdcv-5RhR_-xD0cI',
 'updatedRange': 'Performance!K2:K14',
 'updatedRows': 13,
 'updatedColumns': 1,
 'updatedCells': 13}

# Automation of Communication column

In [23]:
Communication

[100, 95, 98, 94, 96, 99, 93, 95, 96, 97, 98, 99]

In [24]:
cell_list=wks.range('L2:L14')
#cell_values=Qty_passed.copy()
cell_values=[100, 95, 98, 94, 96, 99, 93, 95, 96, 97, 98, 99]
#n,val=enumerate(cell_values)
for i,val in enumerate(cell_values):
    cell_list[i].value=val
#    cell_list[i].value=(val)
wks.update_cells(cell_list)

{'spreadsheetId': '1CeyrM9luCB4IWAFGDdmdCQpGRO6Tdcv-5RhR_-xD0cI',
 'updatedRange': 'Performance!L2:L14',
 'updatedRows': 13,
 'updatedColumns': 1,
 'updatedCells': 13}

# Automation of Accuracy column

In [25]:
Accuracy

[96.93877551020408,
 93.75,
 85.71428571428571,
 88.88888888888889,
 78.88888888888889,
 89.28571428571429,
 83.33333333333334,
 92.5,
 91.11111111111111,
 90.0,
 92.22222222222223,
 90.0]

In [26]:
cell_list=wks.range('M2:M14')
#cell_values=Qty_passed.copy()
cell_values=[96.93877551020408,93.75,85.71428571428571,88.88888888888889,78.88888888888889,89.28571428571429,83.33333333333334,92.5,91.11111111111111, 90.0,92.22222222222223,90.0]
#n,val=enumerate(cell_values)
for i,val in enumerate(cell_values):
    cell_list[i].value=val
#    cell_list[i].value=(val)
wks.update_cells(cell_list)

{'spreadsheetId': '1CeyrM9luCB4IWAFGDdmdCQpGRO6Tdcv-5RhR_-xD0cI',
 'updatedRange': 'Performance!M2:M14',
 'updatedRows': 13,
 'updatedColumns': 1,
 'updatedCells': 13}